<a href="/">
  <h1>LOGO</h1>
    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark"> -->
    <!--   <a class="navbar-brand" href="#">Praca Dyplomowa</a> -->
    <!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"> -->
    <!-- 	<span class="navbar-toggler-icon"></span> -->
    <!--   </button> -->
    <!--   <div class="collapse navbar-collapse" id="navbarNav"> -->
    <!-- 	<ul class="navbar-nav mr-auto"> -->
    <!-- 	  <li class="nav-item active"> -->
    <!-- 	    <a class="nav-link" href="#">Strona domowa<span class="sr-only">(current)</span></a> -->
    <!-- 	  </li> -->
    <!-- 	  <li class="nav-item"> -->
    <!-- 	    <a class="nav-link" href="#">Konwertuj obraz</a> -->
    <!-- 	  </li> -->
    <!-- 	</ul> -->
    <!-- 	<ul class="navbar-nav"> -->
    <!-- 	  <li class="nav-item"> -->
    <!-- 	    <a class="nav-link" href="#">Login</a> -->
    <!-- 	  </li> -->
    <!-- 	  <li class="nav-item"> -->
    <!-- 	    <a class="nav-link" href="#">Register</a> -->
    <!-- 	  </li> -->
    <!-- 	</ul> -->
    <!--   </div> -->
    <!-- </nav> -->
</a>


